# EDA Notebook

## 1. Importar librerías necesarias
Importar pandas, numpy, matplotlib y seaborn para el análisis y visualización de datos.

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os

sys.path.append(os.path.abspath(".."))
from src.cleaning import clean

## 2. Cargar el archivo CSV
Solicitar al usuario la ruta del archivo .csv y cargarlo en un DataFrame de pandas.

In [ ]:
# Change this path to point to your data file
file_path = '../data/raw/google_play_store_apps.csv'
df = pd.read_csv(file_path)

## 3. Visualizar las primeras filas del dataset
Mostrar las primeras filas del DataFrame usando head() para obtener una vista general de los datos.

In [25]:
df.head()

,App,Category,Rating,Reviews,Size_MB,Installs,Type,Price_$,Content_Rating,Genres,Last_Updated,Android_Version
0,App_1,HEALTH,3.7,401077,2.5,"1,000,000+ installs",Paid,1.99,Teen,Education,2024-06-05,8.0 and up
1,App_2,LIFESTYLE,5.0,460806,2.5,"10,000+",Free,0.99,Mature 17+,Education,2024-09-14,8.0 and up
2,App_3,ENTERTAINMENT,2.5,4989914,2.5,"10,000,000+",Free,2.99,Teen,Health,2024-06-12,5.0 and up
3,App_4,TOOLS,3.0,1004011,2.5,"1,000+",Free,NaN,Everyone,Action,2024-05-26,4.1 and up
4,App_5,HEALTH,3.5,312033,2.5,"1,000,000+",Free,2.99,Everyone,Health,2024-06-02,4.1 and up

## 4. Explorar información general del dataset
Utilizar info() y shape para mostrar información sobre el número de filas, columnas y tipos de datos.

In [26]:
df.info()
print(f"Número de filas: {df.shape[0]}")
print(f"Número de columnas: {df.shape[1]}")

display(df["Category"].unique())
display(df["Category"].value_counts())

display(df["Installs"].unique())
display(df["Installs"].value_counts())

<class 'pandas.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              1200 non-null   str
 1   Category         1200 non-null   str
 2   Rating           1152 non-null   float64
 3   Reviews          1200 non-null   int64
 4   Size_MB          1200 non-null   float64
 5   Installs         1200 non-null   str
 6   Type             1200 non-null   str
 7   Price_$          1092 non-null   float64
 8   Content_Rating   1200 non-null   str
 9   Genres           1104 non-null   str
 10  Last_Updated     1164 non-null   str
 11  Android_Version  1200 non-null   str
dtypes: float64(3), int64(1), str(8)
memory usage: 112.6 KB
Número de filas: 1200
Número de columnas: 12

<StringArray>
[       'HEALTH',     'LIFESTYLE', 'ENTERTAINMENT',         'TOOLS',
     'EDUCATION',     'lifestyle',       'FINANCE',      'BUSINESS',
         'tools',          'GAME',  'PRODUCTIVITY',  'Productivity',
         'ToOls', 'Entertainment',      'business',       'finance',
      'businEsS',     'Lifestyle', 'entertainment',  'pROdUCTIViTy',
        'HEaLth',       'Finance',          'gamE',          'game',
  'prOdUctiviTy',  'productivity',        'health',          'Game',
 'ENTeRTaInMEnt',     'Education',        'heAlTH',       'fINAncE',
      'Business',        'Health',       'FiNanCE', 'EnterTaINmENt',
     'EduCAtION',         'Tools',     'liFEstYLE',     'LIfESTYlE',
     'education',     'eDUcATion',        'HEaLTh', 'enTERtAinMeNT',
       'FiNANCE',          'GAme',     'lifESTYLe',      'busiNEsS',
  'ProducTivITy',     'EDucaTioN',     'liFeStylE', 'eNteRTaInmEnt',
     'lIFeStylE',      'busINEsS',      'bUSiNEsS',      'buSINeSS',
     'eduCATioN',      'bUsInEsS',     'lIfESTYLE',     'LiFeSTYle',
        'HealTh', 'ENTERTAiNMEnt',     'eDUcatIoN', 'EntERTAiNMENt',
        'heALTh']
Length: 65, dtype: str

Category
GAME             138
EDUCATION        127
TOOLS            124
ENTERTAINMENT    112
HEALTH           110
                ...
HealTh             1
ENTERTAiNMEnt      1
eDUcatIoN          1
EntERTAiNMENt      1
heALTh             1
Name: count, Length: 65, dtype: int64

<StringArray>
[ '1,000,000+ installs',              '10,000+',          '10,000,000+',
               '1,000+',           '1,000,000+',            '1,000,000',
             '100,000+',           '10,000,000',              'unknown',
     '10,000+ installs',               '10000+', '10,000,000+ installs',
              '100000+',    '100,000+ installs',              '100,000',
                '1000+',             '1000000+',                '1,000',
               '10,000',            '10000000+',      '1,000+ installs']
Length: 21, dtype: str

Installs
1,000,000+              224
100,000+                220
10,000,000+             215
10,000+                 209
1,000+                  192
unknown                  34
1,000,000+ installs      12
1,000,000                11
10,000,000+ installs     10
10,000+ installs          9
1,000                     9
100,000                   8
10,000                    8
10,000,000                6
100000+                   6
1000000+                  6
10000+                    5
100,000+ installs         5
1000+                     5
10000000+                 4
1,000+ installs           2
Name: count, dtype: int64

## 5. Describir variables numéricas y categóricas
Usar describe() para variables numéricas y value_counts() para variables categóricas.

In [27]:
# Numerical variables
df.describe()

# Categorical values (Example for a columnn)
# df['category_column'].value_counts()

            Rating       Reviews  Size_MB      Price_$
count  1152.000000  1.200000e+03   1200.0  1092.000000
mean      3.738194  2.494315e+06      2.5     2.132967
std       0.723251  1.453801e+06      0.0     1.696824
min       2.500000  4.148000e+03      2.5     0.000000
25%       3.100000  1.280934e+06      2.5     0.990000
50%       3.800000  2.467298e+06      2.5     1.990000
75%       4.400000  3.766748e+06      2.5     2.990000
max       5.000000  4.999121e+06      2.5     4.990000

## 6. Visualizar valores nulos y duplicados
Identificar y visualizar la cantidad de valores nulos y filas duplicadas en el dataset.

In [28]:
# Hay nulos D:
display(df.isnull().sum())

# No hay duplicados :D
display(df.duplicated().sum())

App                  0
Category             0
Rating              48
Reviews              0
Size_MB              0
Installs             0
Type                 0
Price_$            108
Content_Rating       0
Genres              96
Last_Updated        36
Android_Version      0
dtype: int64

np.int64(0)

In [29]:
df_cleaned = clean(df)

display(df["Category"].unique())
display(df["Installs"].unique())
display(df["Installs"].value_counts())

display(df_cleaned.sample(10))

<StringArray>
[       'HEALTH',     'LIFESTYLE', 'ENTERTAINMENT',         'TOOLS',
     'EDUCATION',       'FINANCE',      'BUSINESS',          'GAME',
  'PRODUCTIVITY']
Length: 9, dtype: str

<StringArray>
['1000000', '10000', '10000000', '1000', '100000', 'unknown']
Length: 6, dtype: str

Installs
1000000     253
100000      239
10000000    235
10000       231
1000        208
unknown      34
Name: count, dtype: int64

,App,Category,Rating,Reviews,Size_MB,Installs,Type,Price_$,Content_Rating,Genres,Last_Updated,Android_Version
661,App_662,LIFESTYLE,4.0,1636685,2.5,10000,Free,0.00,Mature 17+,Action,2024-08-18,8.0 and up
487,App_488,TOOLS,4.6,1711962,2.5,100000,Free,0.99,Everyone,Puzzle,2024-03-01,6.0 and up
94,App_95,TOOLS,4.2,3585691,2.5,10000000,Free,0.99,Mature 17+,Business,2024-07-18,5.0 and up
275,App_276,FINANCE,4.0,3870436,2.5,10000,Free,0.99,Everyone,Education,2024-11-02,4.1 and up
856,App_857,HEALTH,4.6,2498224,2.5,1000000,Free,0.99,Teen,Puzzle,2024-08-22,8.0 and up
1040,App_1041,TOOLS,3.6,2372958,2.5,1000,Free,4.99,Mature 17+,Tools,2024-01-28,6.0 and up
161,App_162,FINANCE,3.7,68813,2.5,100000,Free,4.99,Mature 17+,Business,2024-01-21,5.0 and up
551,App_552,FINANCE,4.1,308627,2.5,10000000,Free,0.99,Teen,NaN,2024-02-09,8.0 and up
876,App_877,TOOLS,3.0,1897893,2.5,1000000,Free,4.99,Mature 17+,Health,2024-07-14,4.1 and up
885,App_886,ENTERTAINMENT,2.6,59788,2.5,100000,Free,1.99,Teen,Music,2024-04-29,8.0 and up

In [30]:
df["Last_Updated"] = pd.to_datetime(df["Last_Updated"], errors="coerce")

display(df['Last_Updated'])
# Ver porcentaje de nulos
df["Last_Updated"].isna().mean()

0      2024-06-05
1      2024-09-14
2      2024-06-12
3      2024-05-26
4      2024-06-02
          ...
1195   2024-06-22
1196   2024-08-19
1197   2024-09-26
1198   2024-12-27
1199   2024-08-09
Name: Last_Updated, Length: 1200, dtype: datetime64[us]

np.float64(0.03)

## 7. Análisis univariado de variables numéricas
Realizar histogramas y boxplots para analizar la distribución de las variables numéricas.

In [31]:
# Histogram for a numerical variable
# df['numeric_column'].hist()
# plt.show()

# Boxplot
# df.boxplot(column='numeric_column')
# plt.show()

## 8. Análisis univariado de variables categóricas
Realizar gráficos de barras para analizar la frecuencia de las variables categóricas.

In [32]:
# Bar plot for a categorical variable
# df['categorical_column'].value_counts().plot(kind='bar')
# plt.show()

## 9. Análisis bivariado entre variables
Explorar relaciones entre variables numéricas y categóricas mediante scatterplots y tablas cruzadas.

In [33]:
# Scatterplot
# plt.scatter(df['numeric_column_x'], df['numeric_column_y'])
# plt.show()

# Crosstab for two categorical variables   
# pd.crosstab(df['categorical_column1'], df['categorical_column2'])

## 10. Visualización de correlaciones
Calcular y visualizar la matriz de correlación entre variables numéricas usando un heatmap.

In [34]:
# Correlation matrix
corr = df.corr()
sns.heatmap(corr, annot=True)
plt.show()

ValueError: could not convert string to float: 'App_1'